.form_page {
    background-color: whitesmoke;
    padding-bottom: 40px;
}

.form_top_title {
    text-align: center;
}

.form_top_title>h2 {
    font-size: 40px;
    padding-top: 30px;
    color: lightskyblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 2px;
}

.form_top_title>h3 {
    font-size: 22px;
    padding-top: 0px;
    letter-spacing: 2px;
}

input {
    font-size: 20px;
    width: 650px;
    padding: 15px;
    margin: 34px;
    outline: none;
    border-radius: 6px;
    border: none;
    padding-left: 30px;
}

select {
    width: 650px;
    padding: 15px;
    margin-left: 50px;
    border: none;
    outline: none;
    border-radius: 7px;
}


textarea {
    width: 91%;
    padding: 20px;
    margin-left: 45px;
    border: none;
    outline: none;
    border-radius: 7px;
    font-size: 20px;
}

.submitButton {
    background-color: lightskyblue;
    padding: 15px;
    width: 170px;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    margin-left: 45%;
    font-size: 20px;
    border-radius: 10px;
}


.form_input_field>i {
    font-size: 14px;
    position: relative;
    left: 55px;
}

@media (max-width:500px) {
    .form_page {
        width: 100vw;
        justify-content: center;
    }

    input {
        width: 80%;
        margin: 20px;
    }

    select {
        width: 90%;
        padding: 12px;
        margin-top: 8px;
        font-family: Cursive;
        line-height: 1;
        border-radius: 5px;
        margin-left: 20px;
        font-size: 20px;
    }

    #text {
        width: 80%;
        margin-left: 0px;
        margin: 19px;
    }

    .form_input_field>i {
        position: relative;
        left: 30px;
        top: 55px;
    }

    .submitButton {
        margin: 10px;
        margin-left: 35%;
        font-size: 20px;
        width: auto;
    }

}

@media (min-width:500px) and (max-width:600px) {
    input {
        width: 80%;
        margin: 20px;
    }

    select {
        width: 90%;
        padding: 12px;
        margin-top: 8px;
        font-family: Cursive;
        line-height: 1;
        border-radius: 5px;
        margin-left: 30px;
        font-size: 20px;
    }

    .form_input_field>i {
        position: relative;
        left: 40px;
        top: 0px;
    }

    #text {
        width: 83%;
        margin: 10px;
        margin-left: 30px;
    }

    .submitButton {
        margin: 10px;
        margin-left: 40%;
        font-size: 20px;
        width: auto;
    }


}


@media (min-width:700px) and (max-width:1300px) {
    input {
        width: 89%;
        margin: 10px;
        padding: 25px;
        font-size: 22px;
    }

    select {
        width: 95%;
        padding: 23px;
        margin-top: 8px;
        font-family: Cursive;
        line-height: 1;
        border-radius: 5px;
        margin-left: 24px;
        font-size: 20px;
    }

    .form_input_field>i {
        position: relative;
        left: 32px;

    }

    #text {
        width: 90%;
        margin: 10px;
        margin-left: 20px;
        padding: 20px;
        font-size: 35px;
    }

    .submitButton {
        margin: 10px;
        margin-left: 40%;
        font-size: 40px;
        width: auto;
    }

}