.tradepage {
    /* background-color: yellow; */
    display: flex;
    flex-direction: row;
}

.iconImage {
    width: 50%;
    padding: 20px;
    background-color: ghostwhite;
    margin: 20px;
}

.heading {
    padding-left: 20px;
}

.heading>h2 {
    font-size: 35px;
    color: rgb(83, 110, 189);
}

.heading>p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
}

.awardimage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    width: 60%;
    height: auto;
    padding: 60px;
    margin: 20px;
    justify-content: space-between;

}

.award {
    display: flex;
    flex-direction: column;
    width: 120px;
    height: 120px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    cursor: pointer;

}

.award>a>img {
    width: 80px;
    height: 70px;
    object-fit: contain;
    padding: 0px;
    margin-top: 10px;
    border-radius: 100px;
}
.webImage {
    width: 45%;
    height: 60%;
    background-color: white;
    margin: 20px;
    padding: 20px;
    margin-top: 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    z-index: -1;

}

.webImage>img {

    width: 600px;
    padding: 40px;

}