.client{
 
}

.clientResult{
    text-align: center;
    color: lightseagreen;
    font-size: 25px;
    letter-spacing: 2px;
}

.ifarmevideo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.videos{
    object-fit: cover;
    width: 660px;
    height: 400px;
    margin: 10px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
  
}