.contact-us {
    background-color: rgb(61, 108, 124);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
}

.left-titles {
    gap: 0px;
    padding-left: 50px;
    font-size: 30px;
    color: white;
}

.left-titles>button {
    background-color: transparent;
    border: none;
    /* padding: 10px; */
    font-size: 30px;
    color: white;
}

.left-titles>button:hover {
    color: black;
}

.right-image>img {
    width: 200px;
}

.address {
    padding-left: 60px;
    font-size: 20px;
}

iframe {
    width: 90vw;
    height: 50vh;
    display: flex;
    margin: auto;
    margin-bottom: 40px;
    border: none;
}