 .awardpage {
    height: auto;
    width: auto;
 }

 .awardList {
    display: flex;
    justify-content: center;

 }

 .div-for-award>img {
    width: 880px;
    padding: 40px;

 }

 .div-for-award {
    margin: 20px;
    padding: 10px;
    text-align: center;
    object-fit: contain;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: transform 2s;
 }

 .div-for-award:hover {
    transform: scale(1.2);
 }


 .awardTitle>h2 {
    color: rgb(13, 78, 157);
    font-size: 30px;
    padding-left: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 .awardTitle>h3 {
    font-size: 20px;
    padding-left: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
 }

 @media (max-width:500px) {
    .awardList {

       display: flex;
       flex-direction: column;
    }

    .div-for-award {
       transition: transform 2s;
    }

    .div-for-award:hover {
       transform: scale(0.9);
    }

 }

 @media (min-width:500px) and (max-width:600px) {
    .awardList {
       display: flex;
       flex-wrap: wrap;
    }

    .div-for-award {
       width: 200px;
       transition: transform 2s;
    }

    .div-for-award:hover {
       transform: scale(0.9);
    }

    .div-for-award>img {
       width: 100px;
    }
 }

 @media (min-width:700px) and (max-width:1300px) {
    .awardList {
       display: flex;
       flex-wrap: wrap;
    }

    .div-for-award {
       width: 300px;
       transition: transform 2s;
    }


    .div-for-award:hover {
       transform: scale(0.9);
    }

    .div-for-award>img {
       width: 170px;
    }
 }