.highlightDiv {
    background-color: white;
    cursor: pointer;
}

.Top {
    text-align: center;
}

.Top>h2 {
    color: teal;
    font-size: 30px;
    padding-top: 30px;
    letter-spacing: 2px;
}

.Top>h3 {
    font-size: 20px;
    letter-spacing: 2px;
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.highlightImages {
    width: 400px;
    margin: 20px;
    text-align: center;
    justify-content: center;

}

.highlightImages>img {
    width: 240px;
    height: 180px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

.highlightImages>h2 {
    font-size: 35px;

}

.highlightImages>p {
    font-size: 20px;
}